#mac 
.DS_Store
# build output
dist
.next

# dependencies
node_modules
package-lock.json
yarn.lock
!/yarn.lock
test/node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# logs & pids
*.log
pids

# coverage
.nyc_output
coverage

# test output
test/**/out*
test/**/next-env.d.ts
.DS_Store
/e2e-tests

# Editors
**/.idea

# examples
examples/**/out
examples/**/.env*.local

pr-stats.md
test-timings.json

# Vercel
.vercel
.now

#ulysses files
.Ulysses-Settings.plist
.Ulysses-Settings.plist

# Sanity
.sanity
dist